body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: black;
    text-decoration: none;
}
body a{
    text-decoration: none;
    color: black;
}
main{
    display: flex;
    flex-grow: 2;
}
.main-menu-nav{
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color: #f2d0e0;
}
.main-menu-nav div{
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.main-menu-nav img{
    height: 20px;
    width: 20px;
    vertical-align: middle;
}
header{
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: mediumvioletred;
    height: 50px;
    padding: 5px;
}
header div{
    height: fit-content;
    width: fit-content;
}
header a{
    text-decoration: none;
    color: black;
}
header img{
    height: 20px;
    width: 20px;
}
header button{
    justify-content: space-between
}
footer{
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: mediumvioletred;
    height: 50px;
    padding: 5px;
}
.grid-bolos-container{
    display: grid;
    padding: 10px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}
.grid-bolos-container div{
    display: inline;
    box-shadow: 3px 3px 3px rgb(230, 228, 228);
    width: 200px;
    height: 250px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}
.grid-bolos-container div h3, p{
    margin-block-start: 0px;
    margin-block-end: 5px;
}
.grid-bolos-container div p{
    font-size: 15px;
}
.grid-bolos-container img{
    width: 200px;
    height: 150px;
}